#logoutButton {
    white-space: normal;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

#option {
	background: #404040;
	width: 90%;
	margin: 40px;
	padding: 40px;
	border-radius: 15px;
}

#subTutor {
	text-align:center;
	margin:auto;
}

#getTutor {
	text-align:center;
	margin:auto;
}

.optionLabel {
	color: white;
}