body {
	background: url(../img/studybackground.jpeg);
	background-size: 100%;
}

#panel {
	background: rgba(153, 153, 153, 0.9);
}

#title {
	font-family: londrina-sketch, sans-serif;
	font-size: 100px;
	text-align: center;
}

#subtitle {
	font-family: just-another-hand, cursive;
	text-align: center;
}

#loginSubmit, #forgotPasswordSubmit, #studentSignUpSubmit, #tutorSignUpSubmit {
	width: 30%;
}

#tutor-passwords-dont-match, #student-passwords-dont-match {
	color: red;
}

#signup-buttons {
	margin-bottom: 30px;
	margin-top: 30px;
}